@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-border: var(--color-glaucous-300);
  --color-background: var(--color-glaucous-50);
  --color-foreground: var(--color-slate-800);
  --color-surface: var(--color-glaucous-100);
  /* Primary background */
  --color-primary: var(--color-glaucous-500);
  --color-primary-foreground: var(--color-glaucous-700);
  /* Muted background */
  --color-muted: oklch(from var(--color-glaucous-400) l c h / 0.7);
  /* Muted text on muted surface */
  --color-muted-surface-foreground: var(--color-glaucous-100);
  /* Muted text on normal surface */
  --color-muted-foreground: oklch(from var(--color-slate-500) l calc(c - 0.1) h);
  --color-ring: var(--color-glaucous-100);
}

.dark {
  --color-border: oklch(from var(--color-glaucous-600) l c h / 0.5);
  --color-background: var(--color-glaucous-950);
  --color-foreground: var(--color-glaucous-300);
  --color-primary: var(--color-glaucous-400);
  --color-primary-foreground: var(--color-glaucous-100);
  --color-surface: var(--color-glaucous-850);
  --color-muted: oklch(from var(--color-glaucous-700) calc(l - 0.1) calc(c - 0.02) h);
  --color-muted-surface-foreground: oklch(from var(--color-glaucous-700) l calc(c - 0.02) h);
  --color-muted-foreground: oklch(from var(--color-slate-500) calc(l + 0.05) calc(c - 0.01) h);
  --color-ring: var(--color-glaucous-700);
}

@theme inline {
  --color-border: var(--color-border);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-surface: var(--color-surface);
  --color-muted: var(--color-muted);
  --color-muted-surface-foreground: var(--color-muted-surface-foreground);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-ring: var(--color-ring);
}

@theme inline {
  --color-glaucous-50: oklch(96% 0.006 255.48);
  --color-glaucous-100: oklch(91.94% 0.012 252.09);
  --color-glaucous-200: oklch(83.47% 0.026 255.58);
  --color-glaucous-300: oklch(75.09% 0.039 254.61);
  --color-glaucous-400: oklch(66.28% 0.055 255.72);
  --color-glaucous-500: oklch(57.55% 0.07 255.25);
  --color-glaucous-600: oklch(49.03% 0.059 255.8);
  --color-glaucous-700: oklch(40.38% 0.045 254.83);
  --color-glaucous-800: oklch(30.95% 0.033 255.77);
  --color-glaucous-850: oklch(25% 0.018 255.77);
  --color-glaucous-900: oklch(21.06% 0.017 252.52);
  --color-glaucous-950: oklch(17.63% 0.014 258.36);
}

@layer base {
  body {
    @apply text-foreground bg-background m-0;
  }

  * {
    @apply border-border ring-ring focus:ring-3;
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply transition outline-none;
  }

  a,
  button,
  input,
  textarea,
  select,
  [role="button"],
  [role="link"] {
    @apply transition-colors duration-200 ease-out;
  }
}

@layer components {
  .input-surface {
    @apply bg-surface text-foreground;
    &:autofill {
      box-shadow: inset 0 0 0px 1000px var(--color-glaucous-200);
      -webkit-text-fill-color: var(--color-slate-800);
      &:where(.dark, .dark *) {
        box-shadow: inset 0 0 0px 1000px var(--color-glaucous-800);
        -webkit-text-fill-color: var(--color-glaucous-100);
      }
    }
  }
}

@layer utilities {
  /* Custom `container` class for easier reading (Tailwind default is too wide) */
  .aph-container {
    width: 100%;
    max-width: var(--aph-container-value);
  }

  @media (width >= 40rem) {
    :root {
      --aph-container-value: 36rem; /* 576px */
    }
  }

  @media (width >= 48rem) {
    :root {
      --aph-container-value: 42rem; /* 672px */
    }
  }

  @media (width >= 64rem) {
    :root {
      --aph-container-value: 56rem; /* 896px */
    }
  }
}
